<div id="signup" class="center">
	<%= form_for(@user) do |f| %>
		<%= f.text_field :name, :placeholder => "Nickaname" %>
		<%= f.email_field :email, :placeholder => "Email" %>
		<%= f.password_field :password, :placeholder => "Password" %>
		<%= f.submit "Create an account", class: "btn-submit" %>
	<% end %>
</div>