
<div id="container">
	<div class="center">
		<div class="content">
			<div class="post">
				<div class="avatar">
					<%= image_tag("user/avatar/avatar.png") %>
				</div>
				<div class="post_content">
					<h2>Mihail Georgiev</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean maximus odio ut libero rutrum, vitae vestibulum mauris pulvinar. Duis varius tortor mollis turpis scelerisque, id gravida nulla aliquet. Nam hendrerit eros in venenatis sollicitudin. Ut molestie odio vel massa sagittis posuere. Suspendisse a efficitur augue, ut egestas metus. Duis sodales et risus dapibus egestas. Vestibulum urna lectus, euismod sit amet semper ac, finibus eu metus. Pellentesque ullamcorper dolor a arcu facilisis tristique. Nullam congue nisi massa, eget placerat ex posuere a. Curabitur et porta arcu, vel pellentesque lacus.</p>
				</div>

				<hr>
			</div>
			<div class="post">
				<div class="avatar">
					<%= image_tag("user/avatar/avatar.png") %>
				</div>
				<div class="post_content">
					<h2>Mihail Georgiev</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean maximus odio ut libero rutrum, vitae vestibulum mauris pulvinar. Duis varius tortor mollis turpis scelerisque, id gravida nulla aliquet. Nam hendrerit eros in venenatis sollicitudin. Ut molestie odio vel massa sagittis posuere. Suspendisse a efficitur augue, ut egestas metus. Duis sodales et risus dapibus egestas. Vestibulum urna lectus, euismod sit amet semper ac, finibus eu metus. Pellentesque ullamcorper dolor a arcu facilisis tristique. Nullam congue nisi massa, eget placerat ex posuere a. Curabitur et porta arcu, vel pellentesque lacus.</p>
				</div>

				<hr>
			</div>
			<div class="post">
				<div class="avatar">
					<%= image_tag("user/avatar/avatar.png") %>
				</div>
				<div class="post_content">
					<h2>Mihail Georgiev</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean maximus odio ut libero rutrum, vitae vestibulum mauris pulvinar. Duis varius tortor mollis turpis scelerisque, id gravida nulla aliquet. Nam hendrerit eros in venenatis sollicitudin. Ut molestie odio vel massa sagittis posuere. Suspendisse a efficitur augue, ut egestas metus. Duis sodales et risus dapibus egestas. Vestibulum urna lectus, euismod sit amet semper ac, finibus eu metus. Pellentesque ullamcorper dolor a arcu facilisis tristique. Nullam congue nisi massa, eget placerat ex posuere a. Curabitur et porta arcu, vel pellentesque lacus.</p>
				</div>

				<hr>
			</div>
			<div class="post">
				<div class="avatar">
					<%= image_tag("user/avatar/avatar.png") %>
				</div>
				<div class="post_content">
					<h2>Mihail Georgiev</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean maximus odio ut libero rutrum, vitae vestibulum mauris pulvinar. Duis varius tortor mollis turpis scelerisque, id gravida nulla aliquet. Nam hendrerit eros in venenatis sollicitudin. Ut molestie odio vel massa sagittis posuere. Suspendisse a efficitur augue, ut egestas metus. Duis sodales et risus dapibus egestas. Vestibulum urna lectus, euismod sit amet semper ac, finibus eu metus. Pellentesque ullamcorper dolor a arcu facilisis tristique. Nullam congue nisi massa, eget placerat ex posuere a. Curabitur et porta arcu, vel pellentesque lacus.</p>
				</div>

				<hr>
			</div>
		</div>

		<div id="archive">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean maximus odio ut libero rutrum, vitae vestibulum mauris pulvinar. Duis varius tortor mollis turpis scelerisque, id gravida nulla aliquet. Nam hendrerit eros </p>
		</div>

		<div class="clear"></div>
	</div>
</div>
<%= render "layouts/foother" %>