<div class="article">
	<div class="article-image">
		<%= image_tag "bg2.jpg" %>
	</div>
	<div class="article-content center">
		<div class="top">
			<%= @article.name %><span id="color">- <%= @article.category %> - <%= @article.created_at %></span>
		</div>
		<div class="article-name">
			<%= @article.articlename %>
		</div>
		<p><%= @article.articlecontent %></p>
	</div>
</div>

<div id="comments">
<%= render "layouts/disqus" %>
</div>