<div id="lates-news" class="center">
	<h3>Последни новини</h3>
	<hr>
	
	<% @article.each do |data|%>
	<div class="article">
		<div class="article-image">
			<%= image_tag "bg2.jpg" %>
		</div>
		<div class="article-content center">
			<div class="top">
				<%= data.name %><span id="color">- <%= Games.find(data.game_id).name %> - <%= data.created_at.strftime("%d.%m.%Y") %></span>
			</div>
			<div class="article-name">
				<%= data.articlename %>
			</div>
			<p><%= data.articlecontent %></p>
			<%= link_to "Прочети повече", article_path(data.id), :class => "more" %>
		</div>
	</div>
	<% end %>

</div>

<div id="load">
	Зареди повече новини.
</div>