<div id="header">
	<ul id="menu">
		<li><%= link_to "LOGO", root_path %></li>
		<li>
			<a href="#">Игри &#9662;</a>
			<ul class="dropdown">
				<li><%= link_to image_tag("minecraft.png", :class => "logo"), game_path('1') %></li>
				<li><%= link_to image_tag("csgo.png", :class => "logo"), game_path('2') %></li>
				<li><%= link_to image_tag("hos.png", :class => "logo"), game_path('3') %></li>
				<li><%= link_to image_tag("wow.png", :class => "logo"), game_path('4') %></li>
				<li><%= link_to image_tag("lol.png", :class => "logo"), game_path('5') %></li>
			</ul>
		</li>
		<li><%= link_to "Форум", root_path %></li>
	</ul>

	<div id="search">
		<form action="#">
			<input type="text" name="search" placeholder="Търси...">
		</form>
	</div>
	<div class="clear"></div>
</div>
