<div id="header">
	<ul id="menu">
		<li><a href="#">LOGO</a></li>
		<li>
			<a href="#">Игри &#9662;</a>
			<ul class="dropdown">
				<li><%= link_to image_tag("minecraft.png", :class => "logo"), root_path %></li>
				<li><%= link_to image_tag("csgo.png", :class => "logo"), root_path %></li>
				<li><%= link_to image_tag("hos.png", :class => "logo"), root_path %></li>
				<li><%= link_to image_tag("wow.png", :class => "logo"), root_path %></li>
				<li><%= link_to image_tag("lol.png", :class => "logo"), root_path %></li>
			</ul>
		</li>
		<li><%= link_to "Форум", root_path %></li>
	</ul>

	<div id="search">
		Търси..
	</div>
</div>
