<div id="header">
	<ul id="menu">
		<li><%= link_to "LOGO", root_path %></li>
		<li>
			<a href="#">Игри &#9662;</a>
			<ul class="dropdown">
				<li><%= link_to image_tag("minecraft.png", :class => "logo"), game_path('minecraft') %></li>
				<li><%= link_to image_tag("csgo.png", :class => "logo"), game_path('csgo') %></li>
				<li><%= link_to image_tag("hos.png", :class => "logo"), game_path('heroes_of_the_storm') %></li>
				<li><%= link_to image_tag("wow.png", :class => "logo"), game_path('wow') %></li>
				<li><%= link_to image_tag("lol.png", :class => "logo"), game_path('lol') %></li>
			</ul>
		</li>
		<li><%= link_to "Форум", root_path %></li>
	</ul>

	<div id="search">
		<form action="#">
			<input type="text" placeholder="Търси...">
		</form>
	</div>
	<div class="clear"></div>
</div>
