<div id="slider" class="owl-carousel">
	<div>
		<%= link_to root_path do %>
			<%= image_tag ("bg.jpg"), :class => 'sliderimage' %>
			<h1 id="name">Иметео на новината</h1>
		<% end %>
	</div>
	<div>
		<%= link_to root_path do %>
			<%= image_tag ("bg.jpg"), :class => 'sliderimage' %>
			<h1 id="name">Иметео на новината</h1>
		<% end %>
	</div>
	<div>
		<%= link_to root_path do %>
			<%= image_tag ("bg.jpg"), :class => 'sliderimage' %>
			<h1 id="name">Иметео на новината</h1>
		<% end %>
	</div>
	<div>
		<%= link_to root_path do %>
			<%= image_tag ("bg.jpg"), :class => 'sliderimage' %>
			<h1 id="name">Иметео на новината</h1>
		<% end %>
	</div>
	<div>
		<%= link_to root_path do %>
			<%= image_tag ("bg.jpg"), :class => 'sliderimage' %>
			<h1 id="name">Иметео на новината</h1>
		<% end %>
	</div>
</div>