<div id="submenu">
	<ul>
		<li class="selected"><%= link_to "Редстоун", root_path %></li>
		<li><%= link_to "Постройки", root_path %></li>
		<li><%= link_to "Модове", root_path %></li>
		<li><%= link_to "Новини", root_path %></li>
		<li><%= link_to "ьяьяа", root_path %></li>
		<li><%= link_to "ьяаьяа", root_path %></li>
	</ul>
</div>